.bodyCheckout{
    margin-top:100px;
}
.bodyCheckout h2{
    display: flex;
    justify-content: center;
    background-color: gray;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: white; 
    justify-content: space-around;
}
.bodyCheckout button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background: SteelBlue;
    border-radius: 50px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: white; 
}
.forms {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.forms input {
    width: 326px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin-left: 18px;
    margin-bottom: 50px;
}
.forms h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 12px;
}